<div class="shape">
   <div class="cylinder">
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
     <div class="side"></div>
   </div>
</div>
