body,
html {
  padding: 0;
  margin: 0;
  background: #333;
  font-family: 'Karla', sans-serif;
  color: #FFF;
  height: 100%; }

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }
  .container canvas {
    background: #fff;
    border-radius: 3px; }
