html, body{
   padding:0px;
   margin:0px;
   background:#000;
   font-family: 'Karla', sans-serif;
   color:#FFF;
   height:100%;
}

canvas {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   width: 100%;
   height: 100%;
   background: #000;
}
