doctype html
html
   head
      title Microprojects
      link(rel="stylesheet" href="./bin/css.css")
      link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Karla')
      link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
      link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons')
   body
      include ./bin/html.pug
      script(src="./bin/js.js")
      script.
         // User
         var textarea = document.querySelector('textarea')
         var dataarea = document.querySelector('pre')
         var crosshair = document.querySelector('crosshair')

         var cursorWatch = new CursorWatch(textarea, function() {
            dataarea.innerHTML = JSON.stringify(this.data, null, '\t')
            crosshair.style.transform = `translateX(${this.data.x}px) translateY(${this.data.y}px)`
         })
