@charset "UTF-8";
.project-card-view {
  position: relative;
  height: 200px;
  overflow: hidden;
  background: #DDD; }
  .project-card-view iframe {
    width: 200%;
    height: 200%;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    border: none; }

.loading p, .loading h5, .loading .btn, .loading .project-card-view {
  background: #DDD !important;
  min-width: 2rem;
  position: relative;
  overflow: hidden; }
  .loading p:after, .loading h5:after, .loading .btn:after, .loading .project-card-view:after {
    content: '‎'; }
  .loading p:before, .loading h5:before, .loading .btn:before, .loading .project-card-view:before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 2.5rem;
    height: 100%;
    background: #FFF;
    opacity: 0.15;
    -webkit-animation: loading 2s ease-in-out infinite alternate;
    animation: loading 2s ease-in-out infinite alternate; }

.loading .btn {
  border: 1px solid transparent; }

.text-lighten {
  opacity: 0.75; }

.text-one-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

@-webkit-keyframes loading {
  0% {
    left: -4rem; }
  100% {
    left: 100%; } }

@keyframes loading {
  0% {
    left: -4rem; }
  100% {
    left: 100%; } }
