doctype html
html
   head
      title Microprojects
      link(rel="stylesheet" href="./bin/css.css")
      link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Karla')
      link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
      link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons')
      link(rel="stylesheet" href="https://sean-codes.github.io/grid-input/dist/GridInput.css")
   body
      include ./bin/html.pug
      script(src="https://sean-codes.github.io/css-settings/dist/CSSSettings.js")
      script(src="https://sean-codes.github.io/grid-input/dist/GridInput.js")
      script(src="./bin/js.js") 
      script(src="../../autoreload.js")
