doctype html
html
	head
		title Microprojects
		meta(name="viewport" content="width=device-width, initial-scale=1")

		link(rel="stylesheet" href="./bin/css.css")
		link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700')
		link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
		link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js")
	body
		include ./bin/html.pug
		script(src="./bin/js.js")
