<!DOCTYPE html>
<html>
  <head>
    <title>Microprojects</title>
    <link rel="stylesheet" href="./bin/css.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700">
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
  </head>
  <body>
    <div id="resume"><a class="viewsource" href="https://github.com/sean-codes/microprojects/tree/master/projects/resume"><i class="fa fa-code"></i>view source</a>
      <section class="full whitespace b-blue">
        <article>
          <h1>{{ name }}</h1>
          <h4 class="c-teal">{{ title }}</h4>
          <p class="whitespace">{{ info }}</p>
        </article>
      </section>
      <section class="full b-darkblue">
        <article class="nopadding">
          <ul class="fifty">
            <li class="whitespace nowrap nodot" v-for="method in contactMethods"><a :href="method.url" target="_blank"><i :class="'fa fa-' + method.icon"></i>{{method.text}}</a></li>
          </ul>
        </article>
      </section>
      <section>
        <article class="half">
          <h3 class="c-teal underline upper">Technical Skills</h3>
          <ul class="fifty">
            <li class="small nodot" v-for="skill in technicalSkills">{{skill}}</li>
          </ul>
        </article>
        <article class="half">
          <h3 class="c-teal underline upper">Personal Projects</h3>
          <div class="whitespace" v-for="project in personalProjects">
            <h5 class="bold">{{project.title}}</h5>
            <ul>
              <li v-for="sentence in project.info">{{sentence}}</li>
            </ul>
          </div>
        </article>
      </section>
      <section>
        <article class="half">
          <h3 class="c-teal underline upper">Work Experience</h3>
          <div class="whitespace" v-for="experience in workExperience">
            <h4>{{experience.role}}</h4>
            <h5>{{experience.company}}</h5>
            <h6 class="c-teal hackflex ital"><span class="left">{{experience.duration}}</span><span class="right">{{experience.location}}</span></h6>
            <ul>
              <li v-for="info in experience.info">{{info}}</li>
            </ul>
          </div>
        </article>
        <article class="half">
          <h3 class="c-teal underline upper">Education</h3>
          <div class="whitespace" v-for="education in education">
            <h5 class="bold">{{education.title}}</h5>
            <h5>{{education.location}}</h5>
            <h6 class="ital c-teal">{{education.duration}}</h6>
          </div>
        </article>
      </section>
    </div>
    <script src="./bin/js.js"></script>
  </body>
</html>