body,
html {
  padding: 0;
  margin: 0;
  background: #191a1d;
  font-family: 'Karla', sans-serif;
  color: #FFF;
  height: 100%;
}

canvas {
  background: #191a1d;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 360px;

  transform:translateX(-50%) translateY(-50%);

  &.grab {
    cursor: -webkit-grab;
    cursor: grab;
  }

  &.grabbing {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
}
