html, body {
  padding: 0px;
  margin: 0px;
  background: #222;
  color: #FFF;
  height: 100%; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

canvas {
  width: 340px;
  height: 340px;
  background: #FFF;
  margin: auto; }
