html, body{
   padding:0px;
   margin:0px;
   background:#000;
   font-family: 'Karla', sans-serif;
   color:#FFF;
   height:100%;
}

body{
   display:flex;
}

canvas {
   margin:auto;
   border:1px solid rgba(255, 255, 255, 0.1);
   border-radius:2px;
   background:#000;
   box-shadow:inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}
