doctype html
html
   head
      title Microprojects
      link(rel="stylesheet" href="./bin/css.css")
      script(rel="stylesheet" href="../../node_modules/bootstrap/css/bootstrap.min.css")
      link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Karla')
      link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
      link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons')
   body
      include ./bin/html.pug
      script(src="./bin/js.js") 
      script(src="../../autoreload.js")
      script(src="../../node_modules/jquery/jquery.min.js")
      script(src="../../node_modules/bootstrap/bootstrap.min.js")
