html, body {
   padding:0; margin:0;
   background:#000;
   height:100%;
}

body {
   display:flex;
}

canvas {
   width:400px;
   min-width:400px;
   height:300px;
   margin:auto;
   background:#FFF;
   display:block;
   outline: none;

	image-rendering:optimizeSpeed;             /* Legal fallback */
	image-rendering:-moz-crisp-edges;          /* Firefox        */
	image-rendering:-o-crisp-edges;            /* Opera          */
	image-rendering:-webkit-optimize-contrast; /* Safari         */
	image-rendering:optimize-contrast;         /* CSS3 Proposed  */
	image-rendering:crisp-edges;               /* CSS4 Proposed  */
	image-rendering:pixelated;                 /* CSS4 Proposed  */
	-ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
}
