html {
  background: #000; }

html, body {
  padding: 0px;
  margin: 0px;
  font-family: 'Karla', sans-serif;
  height: 100%; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

helix, helix * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  border: none;
  padding: 0;
  margin: 0; }

helix {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 750px;
  height: 100px;
  margin: auto;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  -webkit-transform: scale(1);
  transform: scale(1); }
  helix:hover {
    -webkit-transform: scale(1);
    transform: scale(1); }
  helix barContainer {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-animation: in 0.5s forwards;
    animation: in 0.5s forwards;
    overflow: visible; }
    helix barContainer bar {
      max-width: 10px;
      min-width: 10px;
      height: 100px;
      margin: auto;
      background: #ddd;
      border-radius: 4px;
      position: relative;
      overflow: visible;
      -webkit-animation: squish 1s ease-out infinite alternate;
      animation: squish 1s ease-out infinite alternate; }
      helix barContainer bar:after, helix barContainer bar:before {
        content: '';
        width: 30px;
        height: 30px;
        border: 3px solid #ddd;
        position: absolute;
        border-radius: 50%; }
      helix barContainer bar:after {
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        -webkit-animation: zindex 2s ease-out infinite, bulb-top 1s ease-out infinite alternate, bulb-top-size 2s ease-out infinite;
        animation: zindex 2s ease-out infinite, bulb-top 1s ease-out infinite alternate, bulb-top-size 2s ease-out infinite; }
      helix barContainer bar:before {
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(50%);
        transform: translateX(-50%) translateY(50%);
        -webkit-animation: zindex 2s ease-out infinite, bulb-bottom 1s ease-out infinite alternate, bulb-bottom-size 2s ease-out infinite;
        animation: zindex 2s ease-out infinite, bulb-bottom 1s ease-out infinite alternate, bulb-bottom-size 2s ease-out infinite; }
    helix barContainer:nth-of-type(1) {
      -webkit-animation-delay: 0.05s;
      animation-delay: 0.05s; }
      helix barContainer:nth-of-type(1) bar {
        -webkit-animation-delay: -0.3s;
        animation-delay: -0.3s; }
        helix barContainer:nth-of-type(1) bar:after {
          -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
        helix barContainer:nth-of-type(1) bar:before {
          -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s; }
    helix barContainer:nth-of-type(2) {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s; }
      helix barContainer:nth-of-type(2) bar {
        -webkit-animation-delay: -0.5s;
        animation-delay: -0.5s; }
        helix barContainer:nth-of-type(2) bar:after {
          -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
        helix barContainer:nth-of-type(2) bar:before {
          -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s; }
    helix barContainer:nth-of-type(3) {
      -webkit-animation-delay: 0.15s;
      animation-delay: 0.15s; }
      helix barContainer:nth-of-type(3) bar {
        -webkit-animation-delay: -0.7s;
        animation-delay: -0.7s; }
        helix barContainer:nth-of-type(3) bar:after {
          -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
        helix barContainer:nth-of-type(3) bar:before {
          -webkit-animation-delay: -1.7s;
          animation-delay: -1.7s; }
    helix barContainer:nth-of-type(4) {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
      helix barContainer:nth-of-type(4) bar {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s; }
        helix barContainer:nth-of-type(4) bar:after {
          -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
        helix barContainer:nth-of-type(4) bar:before {
          -webkit-animation-delay: -1.9s;
          animation-delay: -1.9s; }
    helix barContainer:nth-of-type(5) {
      -webkit-animation-delay: 0.25s;
      animation-delay: 0.25s; }
      helix barContainer:nth-of-type(5) bar {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s; }
        helix barContainer:nth-of-type(5) bar:after {
          -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
        helix barContainer:nth-of-type(5) bar:before {
          -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s; }
    helix barContainer:nth-of-type(6) {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
      helix barContainer:nth-of-type(6) bar {
        -webkit-animation-delay: -1.3s;
        animation-delay: -1.3s; }
        helix barContainer:nth-of-type(6) bar:after {
          -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s; }
        helix barContainer:nth-of-type(6) bar:before {
          -webkit-animation-delay: -2.3s;
          animation-delay: -2.3s; }
    helix barContainer:nth-of-type(7) {
      -webkit-animation-delay: 0.35s;
      animation-delay: 0.35s; }
      helix barContainer:nth-of-type(7) bar {
        -webkit-animation-delay: -1.5s;
        animation-delay: -1.5s; }
        helix barContainer:nth-of-type(7) bar:after {
          -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s; }
        helix barContainer:nth-of-type(7) bar:before {
          -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s; }
    helix barContainer:nth-of-type(8) {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s; }
      helix barContainer:nth-of-type(8) bar {
        -webkit-animation-delay: -1.7s;
        animation-delay: -1.7s; }
        helix barContainer:nth-of-type(8) bar:after {
          -webkit-animation-delay: -1.7s;
          animation-delay: -1.7s; }
        helix barContainer:nth-of-type(8) bar:before {
          -webkit-animation-delay: -2.7s;
          animation-delay: -2.7s; }
    helix barContainer:nth-of-type(9) {
      -webkit-animation-delay: 0.45s;
      animation-delay: 0.45s; }
      helix barContainer:nth-of-type(9) bar {
        -webkit-animation-delay: -1.9s;
        animation-delay: -1.9s; }
        helix barContainer:nth-of-type(9) bar:after {
          -webkit-animation-delay: -1.9s;
          animation-delay: -1.9s; }
        helix barContainer:nth-of-type(9) bar:before {
          -webkit-animation-delay: -2.9s;
          animation-delay: -2.9s; }
    helix barContainer:nth-of-type(10) {
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s; }
      helix barContainer:nth-of-type(10) bar {
        -webkit-animation-delay: -2.1s;
        animation-delay: -2.1s; }
        helix barContainer:nth-of-type(10) bar:after {
          -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s; }
        helix barContainer:nth-of-type(10) bar:before {
          -webkit-animation-delay: -3.1s;
          animation-delay: -3.1s; }
    helix barContainer:nth-of-type(11) {
      -webkit-animation-delay: 0.55s;
      animation-delay: 0.55s; }
      helix barContainer:nth-of-type(11) bar {
        -webkit-animation-delay: -2.3s;
        animation-delay: -2.3s; }
        helix barContainer:nth-of-type(11) bar:after {
          -webkit-animation-delay: -2.3s;
          animation-delay: -2.3s; }
        helix barContainer:nth-of-type(11) bar:before {
          -webkit-animation-delay: -3.3s;
          animation-delay: -3.3s; }
    helix barContainer:nth-of-type(12) {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }
      helix barContainer:nth-of-type(12) bar {
        -webkit-animation-delay: -2.5s;
        animation-delay: -2.5s; }
        helix barContainer:nth-of-type(12) bar:after {
          -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s; }
        helix barContainer:nth-of-type(12) bar:before {
          -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s; }
    helix barContainer:nth-of-type(13) {
      -webkit-animation-delay: 0.65s;
      animation-delay: 0.65s; }
      helix barContainer:nth-of-type(13) bar {
        -webkit-animation-delay: -2.7s;
        animation-delay: -2.7s; }
        helix barContainer:nth-of-type(13) bar:after {
          -webkit-animation-delay: -2.7s;
          animation-delay: -2.7s; }
        helix barContainer:nth-of-type(13) bar:before {
          -webkit-animation-delay: -3.7s;
          animation-delay: -3.7s; }
    helix barContainer:nth-of-type(14) {
      -webkit-animation-delay: 0.7s;
      animation-delay: 0.7s; }
      helix barContainer:nth-of-type(14) bar {
        -webkit-animation-delay: -2.9s;
        animation-delay: -2.9s; }
        helix barContainer:nth-of-type(14) bar:after {
          -webkit-animation-delay: -2.9s;
          animation-delay: -2.9s; }
        helix barContainer:nth-of-type(14) bar:before {
          -webkit-animation-delay: -3.9s;
          animation-delay: -3.9s; }
    helix barContainer:nth-of-type(15) {
      -webkit-animation-delay: 0.75s;
      animation-delay: 0.75s; }
      helix barContainer:nth-of-type(15) bar {
        -webkit-animation-delay: -3.1s;
        animation-delay: -3.1s; }
        helix barContainer:nth-of-type(15) bar:after {
          -webkit-animation-delay: -3.1s;
          animation-delay: -3.1s; }
        helix barContainer:nth-of-type(15) bar:before {
          -webkit-animation-delay: -4.1s;
          animation-delay: -4.1s; }
    helix barContainer:nth-of-type(16) {
      -webkit-animation-delay: 0.8s;
      animation-delay: 0.8s; }
      helix barContainer:nth-of-type(16) bar {
        -webkit-animation-delay: -3.3s;
        animation-delay: -3.3s; }
        helix barContainer:nth-of-type(16) bar:after {
          -webkit-animation-delay: -3.3s;
          animation-delay: -3.3s; }
        helix barContainer:nth-of-type(16) bar:before {
          -webkit-animation-delay: -4.3s;
          animation-delay: -4.3s; }
    helix barContainer:nth-of-type(17) {
      -webkit-animation-delay: 0.85s;
      animation-delay: 0.85s; }
      helix barContainer:nth-of-type(17) bar {
        -webkit-animation-delay: -3.5s;
        animation-delay: -3.5s; }
        helix barContainer:nth-of-type(17) bar:after {
          -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s; }
        helix barContainer:nth-of-type(17) bar:before {
          -webkit-animation-delay: -4.5s;
          animation-delay: -4.5s; }
    helix barContainer:nth-of-type(18) {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s; }
      helix barContainer:nth-of-type(18) bar {
        -webkit-animation-delay: -3.7s;
        animation-delay: -3.7s; }
        helix barContainer:nth-of-type(18) bar:after {
          -webkit-animation-delay: -3.7s;
          animation-delay: -3.7s; }
        helix barContainer:nth-of-type(18) bar:before {
          -webkit-animation-delay: -4.7s;
          animation-delay: -4.7s; }
    helix barContainer:nth-of-type(19) {
      -webkit-animation-delay: 0.95s;
      animation-delay: 0.95s; }
      helix barContainer:nth-of-type(19) bar {
        -webkit-animation-delay: -3.9s;
        animation-delay: -3.9s; }
        helix barContainer:nth-of-type(19) bar:after {
          -webkit-animation-delay: -3.9s;
          animation-delay: -3.9s; }
        helix barContainer:nth-of-type(19) bar:before {
          -webkit-animation-delay: -4.9s;
          animation-delay: -4.9s; }
    helix barContainer:nth-of-type(20) {
      -webkit-animation-delay: 1s;
      animation-delay: 1s; }
      helix barContainer:nth-of-type(20) bar {
        -webkit-animation-delay: -4.1s;
        animation-delay: -4.1s; }
        helix barContainer:nth-of-type(20) bar:after {
          -webkit-animation-delay: -4.1s;
          animation-delay: -4.1s; }
        helix barContainer:nth-of-type(20) bar:before {
          -webkit-animation-delay: -5.1s;
          animation-delay: -5.1s; }
    helix barContainer:nth-of-type(21) {
      -webkit-animation-delay: 1.05s;
      animation-delay: 1.05s; }
      helix barContainer:nth-of-type(21) bar {
        -webkit-animation-delay: -4.3s;
        animation-delay: -4.3s; }
        helix barContainer:nth-of-type(21) bar:after {
          -webkit-animation-delay: -4.3s;
          animation-delay: -4.3s; }
        helix barContainer:nth-of-type(21) bar:before {
          -webkit-animation-delay: -5.3s;
          animation-delay: -5.3s; }
    helix barContainer:nth-of-type(22) {
      -webkit-animation-delay: 1.1s;
      animation-delay: 1.1s; }
      helix barContainer:nth-of-type(22) bar {
        -webkit-animation-delay: -4.5s;
        animation-delay: -4.5s; }
        helix barContainer:nth-of-type(22) bar:after {
          -webkit-animation-delay: -4.5s;
          animation-delay: -4.5s; }
        helix barContainer:nth-of-type(22) bar:before {
          -webkit-animation-delay: -5.5s;
          animation-delay: -5.5s; }
    helix barContainer:nth-of-type(23) {
      -webkit-animation-delay: 1.15s;
      animation-delay: 1.15s; }
      helix barContainer:nth-of-type(23) bar {
        -webkit-animation-delay: -4.7s;
        animation-delay: -4.7s; }
        helix barContainer:nth-of-type(23) bar:after {
          -webkit-animation-delay: -4.7s;
          animation-delay: -4.7s; }
        helix barContainer:nth-of-type(23) bar:before {
          -webkit-animation-delay: -5.7s;
          animation-delay: -5.7s; }
    helix barContainer:nth-of-type(24) {
      -webkit-animation-delay: 1.2s;
      animation-delay: 1.2s; }
      helix barContainer:nth-of-type(24) bar {
        -webkit-animation-delay: -4.9s;
        animation-delay: -4.9s; }
        helix barContainer:nth-of-type(24) bar:after {
          -webkit-animation-delay: -4.9s;
          animation-delay: -4.9s; }
        helix barContainer:nth-of-type(24) bar:before {
          -webkit-animation-delay: -5.9s;
          animation-delay: -5.9s; }
    helix barContainer:nth-of-type(25) {
      -webkit-animation-delay: 1.25s;
      animation-delay: 1.25s; }
      helix barContainer:nth-of-type(25) bar {
        -webkit-animation-delay: -5.1s;
        animation-delay: -5.1s; }
        helix barContainer:nth-of-type(25) bar:after {
          -webkit-animation-delay: -5.1s;
          animation-delay: -5.1s; }
        helix barContainer:nth-of-type(25) bar:before {
          -webkit-animation-delay: -6.1s;
          animation-delay: -6.1s; }
    helix barContainer:nth-of-type(26) {
      -webkit-animation-delay: 1.3s;
      animation-delay: 1.3s; }
      helix barContainer:nth-of-type(26) bar {
        -webkit-animation-delay: -5.3s;
        animation-delay: -5.3s; }
        helix barContainer:nth-of-type(26) bar:after {
          -webkit-animation-delay: -5.3s;
          animation-delay: -5.3s; }
        helix barContainer:nth-of-type(26) bar:before {
          -webkit-animation-delay: -6.3s;
          animation-delay: -6.3s; }
    helix barContainer:nth-of-type(27) {
      -webkit-animation-delay: 1.35s;
      animation-delay: 1.35s; }
      helix barContainer:nth-of-type(27) bar {
        -webkit-animation-delay: -5.5s;
        animation-delay: -5.5s; }
        helix barContainer:nth-of-type(27) bar:after {
          -webkit-animation-delay: -5.5s;
          animation-delay: -5.5s; }
        helix barContainer:nth-of-type(27) bar:before {
          -webkit-animation-delay: -6.5s;
          animation-delay: -6.5s; }
    helix barContainer:nth-of-type(28) {
      -webkit-animation-delay: 1.4s;
      animation-delay: 1.4s; }
      helix barContainer:nth-of-type(28) bar {
        -webkit-animation-delay: -5.7s;
        animation-delay: -5.7s; }
        helix barContainer:nth-of-type(28) bar:after {
          -webkit-animation-delay: -5.7s;
          animation-delay: -5.7s; }
        helix barContainer:nth-of-type(28) bar:before {
          -webkit-animation-delay: -6.7s;
          animation-delay: -6.7s; }
    helix barContainer:nth-of-type(29) {
      -webkit-animation-delay: 1.45s;
      animation-delay: 1.45s; }
      helix barContainer:nth-of-type(29) bar {
        -webkit-animation-delay: -5.9s;
        animation-delay: -5.9s; }
        helix barContainer:nth-of-type(29) bar:after {
          -webkit-animation-delay: -5.9s;
          animation-delay: -5.9s; }
        helix barContainer:nth-of-type(29) bar:before {
          -webkit-animation-delay: -6.9s;
          animation-delay: -6.9s; }
    helix barContainer:nth-of-type(30) {
      -webkit-animation-delay: 1.5s;
      animation-delay: 1.5s; }
      helix barContainer:nth-of-type(30) bar {
        -webkit-animation-delay: -6.1s;
        animation-delay: -6.1s; }
        helix barContainer:nth-of-type(30) bar:after {
          -webkit-animation-delay: -6.1s;
          animation-delay: -6.1s; }
        helix barContainer:nth-of-type(30) bar:before {
          -webkit-animation-delay: -7.1s;
          animation-delay: -7.1s; }

@-webkit-keyframes squish {
  from {
    height: 0; }
  to {
    height: 100px; } }

@keyframes squish {
  from {
    height: 0; }
  to {
    height: 100px; } }

@-webkit-keyframes zindex {
  0% {
    z-index: -2; }
  50% {
    z-index: -2; }
  50.01% {
    z-index: 2; }
  100% {
    z-index: 2; } }

@keyframes zindex {
  0% {
    z-index: -2; }
  50% {
    z-index: -2; }
  50.01% {
    z-index: 2; }
  100% {
    z-index: 2; } }

@-webkit-keyframes bulb-top {
  from {
    top: 0; }
  to {
    top: -15px; } }

@keyframes bulb-top {
  from {
    top: 0; }
  to {
    top: -15px; } }

@-webkit-keyframes bulb-bottom {
  from {
    bottom: -15px; }
  to {
    bottom: 0; } }

@keyframes bulb-bottom {
  from {
    bottom: -15px; }
  to {
    bottom: 0; } }

@-webkit-keyframes bulb-bottom-size {
  0% {
    background: #47d;
    width: 30px;
    height: 30px; }
  49.9% {
    background: #193e89;
    width: 20px;
    height: 20px; }
  50% {
    background: #47d;
    width: 30px;
    height: 30px; }
  100% {
    background: #47d;
    width: 30px;
    height: 30px; } }

@keyframes bulb-bottom-size {
  0% {
    background: #47d;
    width: 30px;
    height: 30px; }
  49.9% {
    background: #193e89;
    width: 20px;
    height: 20px; }
  50% {
    background: #47d;
    width: 30px;
    height: 30px; }
  100% {
    background: #47d;
    width: 30px;
    height: 30px; } }

@-webkit-keyframes bulb-top-size {
  0% {
    background: #193e89;
    width: 20px;
    height: 20px; }
  50% {
    background: #47d;
    width: 30px;
    height: 30px; }
  100% {
    background: #47d;
    width: 30px;
    height: 30px; } }

@keyframes bulb-top-size {
  0% {
    background: #193e89;
    width: 20px;
    height: 20px; }
  50% {
    background: #47d;
    width: 30px;
    height: 30px; }
  100% {
    background: #47d;
    width: 30px;
    height: 30px; } }

@-webkit-keyframes in {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes in {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
