body,
html {
   margin: 0;
   padding: 0;
   background: #222;
}

body * {
   margin: 0;
   padding: 0;
   color: #FFF;
   font-family: monospace;
   box-sizing: border-box;
   display: block;
   background: transparent;
   width: 100%;
   line-height: 2em;
   font-size: 13px;
}

h1 {
      font-size: 2em;
      text-align:center;
}

projects {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

project {
   max-width: 362px;
   background: #444;
   border-radius: 3px;
   box-sizing: border-box;
   margin: 10px;
   padding: 10px 10px 0;
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

project project-view {
   position: relative;
   width: 100%;
   height: 200px;
   overflow: hidden;
}

project project-title {
   font-weight: 600;
   text-align: center;
   white-space: nowrap;
   height: 3em;
   text-overflow: ellipsis;
   overflow: hidden;
}

project project-title a {
   font-size: 14px;
   line-height: 2.6em;
   color: #FFF;
   font-family: monospace;
}

iframe {
   width: 200%;
   height: 200%;
   transform-origin: top left;
   transform: scale(0.5);
   box-sizing: border-box;
   overflow: hidden;
   border: none;
   background: #222;
}
