h1 Microprojects
projects
	each project in projectsList
		if(!project.archive)
			project
				project-view
					iframe(src=project.path+'/index.html', scrolling='no')
				project-title
					a(href=project.path+'/index.html')=project.title
