doctype html
html
   head
      title Microprojects
      link(rel="stylesheet" href="./bin/css.css")
      link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Karla')
      link(rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
      link(rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons')
   body
      include ./src/html.html
      script(src="./bin/js.js")
