html, body{
   padding:0px;
   margin:0px;
   background:#fff;
   font-family: 'Roboto Slab', serif;
   color:#FFF;
   height:100%;
}

body {
   display:flex;
}

// Reset
inventory, inventory * {
   display:block;
   box-sizing:border-box;
   margin:0; padding:0;
}

// The manuever
inventory {
   position:relative;
   margin:auto auto;
   width:300px;
   // border:1px solid rgba(255, 255, 255, 0.2);
   // box-shadow:0px 5px 20px rgba(0, 0, 0, 0.5);
	// /background:#000;
   border-radius:5px;
   user-select:none;
	box-sizing:initial; // wtf
	&:after {
		content: 'GRIDVENTORY';
		position:absolute;
		top:-40px;
		width:100%;
		text-align:center;
		color:#aaa;
		font-size:24px;
		font-width:600;
	}
   // This draws in the background as a grid
   ruler {
      display:flex;
      flex-wrap:wrap;
		pointer-events:none;
      box {
         min-width:25%;
         max-width:25%;
         padding:12.5% 0;
         position:relative;
         opacity:0;
         animation: fadeIn 1s forwards;

         @for $i from 1 through 20 {
            &:nth-of-type(#{$i}) {
               animation-delay: $i * 0.05s;
            }
         }

         &:before {
            content: '';
            position:absolute;
				top:5px; left:5px;
				width:calc(100% - 10px);
				height:calc(100% - 10px); // calc is hacking
            box-sizing:border-box;
            border:3px dashed #aaa;
         }

         &:hover:before {
            border:3px dashed #888;
         }
      }
   }


   item {
		position:absolute;
		box-sizing:border-box;
		border-radius:3px;
		background:none;
      width:25%; height:25%;
      top: 0; left: 0;
		cursor:grab;
		z-index: 1;
		transition: transform 0.4s 0s, z-index 0s 0.4s; // well played on thsat z-index
		// Fake icon
		// I just dont feel like adding the html right meow!
		icon {
			position:absolute;
			top:10px; left:10px;
			width:calc(100% - 20px);
			height:calc(100% - 20px);
			//border:3px solid #aaa;
			pointer-events:none;
			border-radius:2px;
			display:flex;

			content {
				display:inline-block;
				margin:auto;
			}
		}

		&.held {
			transition: transform 0s 0s;
			cursor:grabbing;
			z-index:10;
		}
   }
}

@keyframes fadeIn{
   from { opacity: 0; }
   to { opacity: 1; }
}
