html, body{
   padding:0px;
   margin:0px;
   background:#fff;
   font-family: 'Roboto Slab', serif;
   color:#FFF;
   height:100%;
}

// Reset
inventory, inventory * {
   display:block;
   box-sizing:border-box;
   margin:0; padding:0;
}

// The manuever
inventory {
   position:relative;
   margin:40px auto;
   width:300px;
	height:300px;
   border-radius:5px;
   user-select:none;
	cursor:crosshair;

	&.holding {
		cursor:grabbing;
	}

	&:after {
		content: 'GRIDVENTORY';
		position:absolute;
		top:-35px;
		width:100%;
		text-align:center;
		color:#aaa;
		font-size:20px;
		font-weight:700;
		letter-spacing:3px;
	}
   // This draws in the background as a grid
   ruler {
      display:flex;
      flex-wrap:wrap;
		pointer-events:none;
		width:100%; height:100%;
      box {
         position:relative;
         opacity:0;
         animation: fadeIn 0.5s forwards;

         @for $i from 1 through 40 {
            &:nth-of-type(#{$i}) {
               animation-delay: $i * 0.05s;
            }
         }

         &:before {
            content: '';
            position:absolute;
				top:5px; left:5px;
				width:calc(100% - 10px);
				height:calc(100% - 10px); // calc is hacking
            box-sizing:border-box;
            border:3px dashed #aaa;
         }

         &:hover:before {
            border:3px dashed #888;
         }
      }
   }


   item {
		position:absolute;
		box-sizing:border-box;
		border-radius:3px;
		background:none;
      top: 0; left: 0;
		cursor:grab;
		z-index: 1;
		transition: transform 0.4s 0s, z-index 0s 0.4s; // well played on thsat z-index
		opacity:0;
		--xpos: 0px;
		--ypos: 0px;
		transform:translateX(var(--xpos)) translateY(var(--ypos));
		animation: flyin 0.25s, fadeIn 0.5s forwards;
		@for $i from 1 through 10 {
			&:nth-of-type(#{$i}) {
				animation-delay: 0.5s + ($i * 0.25s), 0.5s + ($i * 0.25s);
			}
		}

		// Fake icon
		// I just dont feel like adding the html right meow!
		icon {
			position:absolute;
			top:10px; left:10px;
			width:calc(100% - 20px);
			height:calc(100% - 20px);
			border: 2px solid rgba(0, 0, 0, 0.1);
			pointer-events:none;
			border-radius:2px;
			display:flex;

			content {
				display:inline-block;
				margin:auto;
			}
		}

		&.held {
			pointer-events:none;
			transition: transform 0s 0s;
			z-index:10;
		}
   }
}

@keyframes fadeIn{
   from { opacity: 0; }
   to { opacity: 1; }
}

@keyframes flyin {
	from { transform: translateX(var(--xpos)) translateY(var(--ypos)) scale(2); }
	to { transform: translateX(var(--xpos)) translateY(var(--ypos)) scale(1); }
}
