html, body {
  padding: 0px;
  margin: 0px;
  background: #ccc;
  font-family: "Karla", sans-serif;
  color: #FFF;
}

.shape {
  -webkit-perspective: 200px;
  perspective: 200px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-box-shadow: 0px 250px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 250px 15px rgba(0, 0, 0, 0.5);
  height: 20px;
  width: 200px;
  margin: 120px auto;
  border-radius: 50%;
  background: transparent;
  -webkit-transform: translateZ(-10000px);
  transform: translateZ(-10000px);
}

.cylinder {
  background: #465;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-transform: rotateX(50deg) rotateY(4deg);
  transform: rotateX(50deg) rotateY(4deg);
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.cylinder:after {
  content: "";
  background: inherit;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: translateZ(-70px);
  transform: translateZ(-70px);
  border-radius: 50%;
}
.cylinder .side {
  width: 19.472972973px;
  height: 70px;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}
.cylinder .side:nth-of-type(1) {
  -webkit-transform: rotateX(90deg) rotateY(0deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(0deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(2) {
  -webkit-transform: rotateX(90deg) rotateY(10.7297297297deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(10.7297297297deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(3) {
  -webkit-transform: rotateX(90deg) rotateY(21.4594594595deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(21.4594594595deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(4) {
  -webkit-transform: rotateX(90deg) rotateY(32.1891891892deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(32.1891891892deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(5) {
  -webkit-transform: rotateX(90deg) rotateY(42.9189189189deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(42.9189189189deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(6) {
  -webkit-transform: rotateX(90deg) rotateY(53.6486486486deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(53.6486486486deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(7) {
  -webkit-transform: rotateX(90deg) rotateY(64.3783783784deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(64.3783783784deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(8) {
  -webkit-transform: rotateX(90deg) rotateY(75.1081081081deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(75.1081081081deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(9) {
  -webkit-transform: rotateX(90deg) rotateY(85.8378378378deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(85.8378378378deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(10) {
  -webkit-transform: rotateX(90deg) rotateY(96.5675675676deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(96.5675675676deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(11) {
  -webkit-transform: rotateX(90deg) rotateY(107.2972972973deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(107.2972972973deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(12) {
  -webkit-transform: rotateX(90deg) rotateY(118.027027027deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(118.027027027deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(13) {
  -webkit-transform: rotateX(90deg) rotateY(128.7567567568deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(128.7567567568deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(14) {
  -webkit-transform: rotateX(90deg) rotateY(139.4864864865deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(139.4864864865deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(15) {
  -webkit-transform: rotateX(90deg) rotateY(150.2162162162deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(150.2162162162deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(16) {
  -webkit-transform: rotateX(90deg) rotateY(160.9459459459deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(160.9459459459deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(17) {
  -webkit-transform: rotateX(90deg) rotateY(171.6756756757deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(171.6756756757deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(18) {
  -webkit-transform: rotateX(90deg) rotateY(182.4054054054deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(182.4054054054deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(19) {
  -webkit-transform: rotateX(90deg) rotateY(193.1351351351deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(193.1351351351deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(20) {
  -webkit-transform: rotateX(90deg) rotateY(203.8648648649deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(203.8648648649deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(21) {
  -webkit-transform: rotateX(90deg) rotateY(214.5945945946deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(214.5945945946deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(22) {
  -webkit-transform: rotateX(90deg) rotateY(225.3243243243deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(225.3243243243deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(23) {
  -webkit-transform: rotateX(90deg) rotateY(236.0540540541deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(236.0540540541deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(24) {
  -webkit-transform: rotateX(90deg) rotateY(246.7837837838deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(246.7837837838deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(25) {
  -webkit-transform: rotateX(90deg) rotateY(257.5135135135deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(257.5135135135deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(26) {
  -webkit-transform: rotateX(90deg) rotateY(268.2432432432deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(268.2432432432deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(27) {
  -webkit-transform: rotateX(90deg) rotateY(278.972972973deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(278.972972973deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(28) {
  -webkit-transform: rotateX(90deg) rotateY(289.7027027027deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(289.7027027027deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(29) {
  -webkit-transform: rotateX(90deg) rotateY(300.4324324324deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(300.4324324324deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(30) {
  -webkit-transform: rotateX(90deg) rotateY(311.1621621622deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(311.1621621622deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(31) {
  -webkit-transform: rotateX(90deg) rotateY(321.8918918919deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(321.8918918919deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(32) {
  -webkit-transform: rotateX(90deg) rotateY(332.6216216216deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(332.6216216216deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(33) {
  -webkit-transform: rotateX(90deg) rotateY(343.3513513514deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(343.3513513514deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(34) {
  -webkit-transform: rotateX(90deg) rotateY(354.0810810811deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(354.0810810811deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(35) {
  -webkit-transform: rotateX(90deg) rotateY(364.8108108108deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(364.8108108108deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(36) {
  -webkit-transform: rotateX(90deg) rotateY(375.5405405405deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(375.5405405405deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(37) {
  -webkit-transform: rotateX(90deg) rotateY(386.2702702703deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(386.2702702703deg) translateZ(100px) translateY(-69px) translateX(-50%);
}
.cylinder .side:nth-of-type(38) {
  -webkit-transform: rotateX(90deg) rotateY(397deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(397deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(39) {
  -webkit-transform: rotateX(90deg) rotateY(407.7297297297deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(407.7297297297deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(40) {
  -webkit-transform: rotateX(90deg) rotateY(418.4594594595deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(418.4594594595deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(41) {
  -webkit-transform: rotateX(90deg) rotateY(429.1891891892deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(429.1891891892deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(42) {
  -webkit-transform: rotateX(90deg) rotateY(439.9189189189deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(439.9189189189deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(43) {
  -webkit-transform: rotateX(90deg) rotateY(450.6486486486deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(450.6486486486deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(44) {
  -webkit-transform: rotateX(90deg) rotateY(461.3783783784deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(461.3783783784deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(45) {
  -webkit-transform: rotateX(90deg) rotateY(472.1081081081deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(472.1081081081deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(46) {
  -webkit-transform: rotateX(90deg) rotateY(482.8378378378deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(482.8378378378deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(47) {
  -webkit-transform: rotateX(90deg) rotateY(493.5675675676deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(493.5675675676deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(48) {
  -webkit-transform: rotateX(90deg) rotateY(504.2972972973deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(504.2972972973deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(49) {
  -webkit-transform: rotateX(90deg) rotateY(515.027027027deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(515.027027027deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(50) {
  -webkit-transform: rotateX(90deg) rotateY(525.7567567568deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(525.7567567568deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(51) {
  -webkit-transform: rotateX(90deg) rotateY(536.4864864865deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(536.4864864865deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(52) {
  -webkit-transform: rotateX(90deg) rotateY(547.2162162162deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(547.2162162162deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(53) {
  -webkit-transform: rotateX(90deg) rotateY(557.9459459459deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(557.9459459459deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(54) {
  -webkit-transform: rotateX(90deg) rotateY(568.6756756757deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(568.6756756757deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(55) {
  -webkit-transform: rotateX(90deg) rotateY(579.4054054054deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(579.4054054054deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(56) {
  -webkit-transform: rotateX(90deg) rotateY(590.1351351351deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(590.1351351351deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(57) {
  -webkit-transform: rotateX(90deg) rotateY(600.8648648649deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(600.8648648649deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(58) {
  -webkit-transform: rotateX(90deg) rotateY(611.5945945946deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(611.5945945946deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(59) {
  -webkit-transform: rotateX(90deg) rotateY(622.3243243243deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(622.3243243243deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(60) {
  -webkit-transform: rotateX(90deg) rotateY(633.0540540541deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(633.0540540541deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(61) {
  -webkit-transform: rotateX(90deg) rotateY(643.7837837838deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(643.7837837838deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(62) {
  -webkit-transform: rotateX(90deg) rotateY(654.5135135135deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(654.5135135135deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(63) {
  -webkit-transform: rotateX(90deg) rotateY(665.2432432432deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(665.2432432432deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(64) {
  -webkit-transform: rotateX(90deg) rotateY(675.972972973deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(675.972972973deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(65) {
  -webkit-transform: rotateX(90deg) rotateY(686.7027027027deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(686.7027027027deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(66) {
  -webkit-transform: rotateX(90deg) rotateY(697.4324324324deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(697.4324324324deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(67) {
  -webkit-transform: rotateX(90deg) rotateY(708.1621621622deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(708.1621621622deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(68) {
  -webkit-transform: rotateX(90deg) rotateY(718.8918918919deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(718.8918918919deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(69) {
  -webkit-transform: rotateX(90deg) rotateY(729.6216216216deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(729.6216216216deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(70) {
  -webkit-transform: rotateX(90deg) rotateY(740.3513513514deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(740.3513513514deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(71) {
  -webkit-transform: rotateX(90deg) rotateY(751.0810810811deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(751.0810810811deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(72) {
  -webkit-transform: rotateX(90deg) rotateY(761.8108108108deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(761.8108108108deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(73) {
  -webkit-transform: rotateX(90deg) rotateY(772.5405405405deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(772.5405405405deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(74) {
  -webkit-transform: rotateX(90deg) rotateY(783.2702702703deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(783.2702702703deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(75) {
  -webkit-transform: rotateX(90deg) rotateY(794deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(794deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(76) {
  -webkit-transform: rotateX(90deg) rotateY(804.7297297297deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(804.7297297297deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(77) {
  -webkit-transform: rotateX(90deg) rotateY(815.4594594595deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(815.4594594595deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(78) {
  -webkit-transform: rotateX(90deg) rotateY(826.1891891892deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(826.1891891892deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(79) {
  -webkit-transform: rotateX(90deg) rotateY(836.9189189189deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(836.9189189189deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(80) {
  -webkit-transform: rotateX(90deg) rotateY(847.6486486486deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(847.6486486486deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(81) {
  -webkit-transform: rotateX(90deg) rotateY(858.3783783784deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(858.3783783784deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(82) {
  -webkit-transform: rotateX(90deg) rotateY(869.1081081081deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(869.1081081081deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(83) {
  -webkit-transform: rotateX(90deg) rotateY(879.8378378378deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(879.8378378378deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(84) {
  -webkit-transform: rotateX(90deg) rotateY(890.5675675676deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(890.5675675676deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(85) {
  -webkit-transform: rotateX(90deg) rotateY(901.2972972973deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(901.2972972973deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(86) {
  -webkit-transform: rotateX(90deg) rotateY(912.027027027deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(912.027027027deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(87) {
  -webkit-transform: rotateX(90deg) rotateY(922.7567567568deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(922.7567567568deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(88) {
  -webkit-transform: rotateX(90deg) rotateY(933.4864864865deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(933.4864864865deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(89) {
  -webkit-transform: rotateX(90deg) rotateY(944.2162162162deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(944.2162162162deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(90) {
  -webkit-transform: rotateX(90deg) rotateY(954.9459459459deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(954.9459459459deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(91) {
  -webkit-transform: rotateX(90deg) rotateY(965.6756756757deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(965.6756756757deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(92) {
  -webkit-transform: rotateX(90deg) rotateY(976.4054054054deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(976.4054054054deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(93) {
  -webkit-transform: rotateX(90deg) rotateY(987.1351351351deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(987.1351351351deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(94) {
  -webkit-transform: rotateX(90deg) rotateY(997.8648648649deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(997.8648648649deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(95) {
  -webkit-transform: rotateX(90deg) rotateY(1008.5945945946deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(1008.5945945946deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(96) {
  -webkit-transform: rotateX(90deg) rotateY(1019.3243243243deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(1019.3243243243deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(97) {
  -webkit-transform: rotateX(90deg) rotateY(1030.0540540541deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(1030.0540540541deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(98) {
  -webkit-transform: rotateX(90deg) rotateY(1040.7837837838deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(1040.7837837838deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(99) {
  -webkit-transform: rotateX(90deg) rotateY(1051.5135135135deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(1051.5135135135deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(100) {
  -webkit-transform: rotateX(90deg) rotateY(1062.2432432432deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(1062.2432432432deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}
.cylinder .side:nth-of-type(101) {
  -webkit-transform: rotateX(90deg) rotateY(1072.972972973deg) translateZ(100px) translateY(-69px) translateX(-50%);
  transform: rotateX(90deg) rotateY(1072.972972973deg) translateZ(100px) translateY(-69px) translateX(-50%);
  opacity: 0;
}