html, body {
  padding: 0px;
  margin: 0px;
  background: #222;
  font-family: 'Roboto Slab', serif;
  color: #FFF; }

body {
  padding: 15px; }

#resume, #resume * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  display: block; }

#resume {
  position: relative;
  background: #FFF;
  color: #333;
  max-width: 850px;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-animation: basic 1s;
  animation: basic 1s;
  font-size: 12px; }
  @media (max-width: 800px) {
    #resume {
      font-size: 11px; } }
  @media (max-width: 700px) {
    #resume {
      font-size: 10px; } }
  #resume .c-teal {
    color: #2DBCAD; }
  #resume .c-blue {
    color: #374458; }
  #resume .c-darkblue {
    color: #2B343F; }
  #resume .b-teal {
    background: #2DBCAD;
    color: white; }
  #resume .b-blue {
    background: #374458;
    color: white; }
  #resume .b-darkblue {
    background: #2B343F;
    color: white; }
  #resume h1 {
    font-size: 2.5rem;
    font-weight: 800; }
  #resume h2 {
    font-size: 2.2rem;
    font-weight: 800; }
  #resume h3 {
    font-size: 1.75rem;
    font-weight: 600; }
  #resume h4 {
    font-size: 1.25rem;
    font-weight: 600; }
  #resume h5 {
    font-size: 1rem;
    font-weight: 300; }
  #resume h6 {
    font-size: 0.65rem;
    font-weight: 300; }
  #resume p, #resume li {
    font-size: 1.25em; }
  #resume i {
    display: inline-block;
    text-align: center;
    width: 1.75em; }
  #resume a {
    text-decoration: none;
    color: #FFF; }
    #resume a:hover {
      text-decoration: underline; }
  #resume .ital {
    font-style: italic; }
  #resume .upper {
    text-transform: uppercase; }
  #resume .whitespace {
    padding-top: 0.25em;
    padding-bottom: 0.35em; }
  #resume .nopadding {
    padding-top: 0;
    padding-bottom: 0; }
  #resume .hackflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #resume .hackflex > * {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  #resume .bold {
    font-weight: 800; }
  #resume .nowrap {
    white-space: nowrap; }
  #resume .underline {
    position: relative;
    margin-bottom: 0.5em; }
    #resume .underline:after {
      content: '';
      position: absolute;
      bottom: -0.1em;
      left: 0;
      width: 100%;
      height: 0.1em;
      background: #2DBCAD; }
  #resume section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    @media (min-width: 850px) {
      #resume section {
        width: 50%; } }
    #resume section.full {
      width: 100%; }
    #resume section article {
      padding: 1em 3em;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  #resume ul {
    margin: 0.5em 0; }
    #resume ul li {
      margin: 0.25em 0em;
      padding-left: 1.25em;
      position: relative; }
      #resume ul li:after {
        content: '';
        position: absolute;
        top: 0.45em;
        left: 0.25em;
        background: #2DBCAD;
        border-radius: 35%;
        width: 0.5em;
        height: 0.5em; }
      #resume ul li.nodot {
        padding-left: 0; }
        #resume ul li.nodot:after {
          display: none; }
    #resume ul.fifty {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #resume ul.fifty li {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        min-width: 180px; }
        #resume ul.fifty li.small {
          min-width: 120px; }
  #resume .viewsource {
    position: absolute;
    top: 10px;
    right: 15px;
    font-weight: 300; }

@-webkit-keyframes basic {
  from {
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0; } }

@keyframes basic {
  from {
    -webkit-transform: translateY(20%);
    transform: translateY(20%);
    opacity: 0; } }
