.project-view {
   position: relative;
   height: 200px;
   overflow: hidden;
}

iframe {
   width: 200%;
   height: 200%;
   transform-origin: top left;
   transform: scale(0.5);
   box-sizing: border-box;
   overflow: hidden;
   border: none;
   background: #222;
}
