.project-view {
   position: relative;
   height: 200px;
   overflow: hidden;
   background: #DDD;
}

iframe {
   width: 200%;
   height: 200%;
   transform-origin: top left;
   transform: scale(0.5);
   box-sizing: border-box;
   overflow: hidden;
   border: none;
}

.badge {
   overflow: hidden;
   &:empty {
      display: inline-block !important;
   }
}

.loading {
   p, h5, .btn, .project-view, .badge {
      background: #DDD !important;
      min-width: 2rem;
      position: relative;
      overflow: hidden;


      &:after {
         content: '‎'; // there is a blank character in here
      }

      &:before {
         content: '';
         top: 0;
         left: 0;
         position: absolute;
         width: 2.5rem;
         height: 100%;
         background: #FFF;//linear-gradient(90deg,  #DDD, #FFF, #DDD);
         opacity: 0.15;
         animation: loading 2s ease-in-out infinite alternate;
      }
   }

   .btn {
      border: 1px solid transparent;
   }
}

.one-line {
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
}

@keyframes loading {
   0% {
      left: -4rem;
   }

   100% {
      left: 100%;
   }
}
