.mention-wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

.mention-options {
  display: none;
  position: absolute;
  cursor: pointer;
  background: #FFF; }
  .mention-options.show {
    display: block; }
  .mention-options .mention-option:hover,
  .mention-options .mention-option.hover {
    background: #AAA; }
