html, body {
  padding: 0px;
  margin: 0px;
  background: #000;
  font-family: 'Karla', sans-serif;
  color: #fff;
  height: 100%; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: crosshair; }

canvas {
  background: #000;
  margin: auto;
  width: 500px;
  height: 300px;
  -webkit-filter: blur(3px) contrast(20);
  filter: blur(3px) contrast(20); }

inputs {
  position: fixed;
  top: 0;
  left: 0;
  color: #FFF;
  font-size: 12px;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background: rgba(0, 0, 0, 0.75);
  padding: 5px; }
  inputs input {
    display: block; }
  inputs:hover {
    opacity: 1; }
