html, body{
   padding:0px;
   margin:0px;
   background:#000;
   font-family: 'Karla', sans-serif;
   color:#FFF;
   height:100%;
}

body{
	display:flex;
	cursor:crosshair;
}

canvas {
	background:#000;
	margin:auto;
	width:500px;
	height:300px;
	filter:blur(2px) contrast(20);
}

inputs {
	position:fixed;
	top:0; left:0;
	color:#FFF;
	font-size:12px;
	opacity:0;
	transition: all 0.2s;
	input{
		display:block;
	}
	&:hover {
		opacity:1;
	}
}
