canvas
inputs
	label(for="move") move (0.65)
	input(id="move" type="range" value="0.5" min="0" max="1" step="0.01")
	label(for="pull")  pull (0.81)
	input(id="pull" type="range" value="0.15" min="0" max="1" step="0.01")
	label(for="dampen")  dampen (0.95)
	input(id="dampen" type="range" value="0.95" min="0.5" max="1" step="0.001")
	label(for="density")  Density (3)
	input(id="density" type="range" value="3" min="1" max="20" step="1")
