canvas
inputs
	label(for="move") move (0.2)
	input(id="move" type="range" value="0.92" min="0" max="1" step="0.01")
	label(for="pull")  pull (0.8)
	input(id="pull" type="range" value="0.31" min="0" max="1" step="0.01")
	label(for="dampen")  dampen (0.99)
	input(id="dampen" type="range" value="0.923" min="0.5" max="1" step="0.001")
